@mixin make-button() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: rem(212px);
  padding: rem(18) rem(5);
  text-align: center;
  font-weight: 700;
  font-size: rem(16);
  font-family: $secondary-font;
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
  outline: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid;
  letter-spacing: 0.1rem;
  box-sizing: border-box;
  transition-property: background, color, border-color;
  transition-duration: ($duration * 2);
  cursor: pointer;
}

@mixin --button-small() {
  padding-top: rem(8);
  padding-bottom: rem(8);
  font-size: rem(14);
}

@mixin --button-large() {
  padding: rem(18) rem(40);
  font-size: rem($font-size--large);
}

@mixin --button-black() {
  color: $black-color;

  &:hover,
  &:focus {
    color: $white-color;
    border-color: transparent;
    background-color: $black-color;
  }

  &:active {
    background-color: $black-color;
  }
}

@mixin --button-white() {
  color: $white-color;

  &:hover,
  &:focus {
    color: $black-color;
    border-color: transparent;
    background-color: $white-color;
  }

  &:active {
    background-color: $white-color;
  }
}

@mixin --button-action() {
  color: $accent-color;

  &:hover,
  &:focus {
    color: $white-color;
    border-color: transparent;
    background-color: $accent-color;
  }

  &:active {
    background-color: $accent-color;
  }
}

@mixin --button-submit() {
  color: #00B8A9;

  &:hover,
  &:focus {
    color: $white-color;
    border-color: transparent;
    background-color: #00B8A9;
  }

  &:active {
    background-color: #00B8A9;
  }
}



.button {
  @include make-button();
  @include --button-action();

  &--small {
    @include --button-small();
  }

  &--large {
    @include --button-large();
  }
}

.button__icon {
  fill: currentColor;

  &:first-child {
    margin-right: 0.5em;
  }

  &:last-child {
    margin-left: 0.5em;
  }
}
