.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  font-size: rem(13);
  box-sizing: border-box;

  @include mq-min(568px) {
    width: calc(100% / 2);
    padding-right: 2rem;
  }

  @include mq-min(880px) {
    width: calc(100% / 3);
  }

  @include mq-min(992px) {
    width: calc(100% / 2);
  }

  @include mq-min(1280px) {
    width: calc(100% / 3);
  }

  @include mq-min(1500px) {
    width: calc(100% / 4);
  }
}

.card__inner {
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-245;
  box-shadow: 10px 10px $gray-245;
  transition: ($duration * 2);

  &:hover {
    border-color: $secondary-color-2;
    box-shadow: 10px 10px $secondary-color-2;
  }
}

.card__head {

}

.card__image-box {
  @include make-fit-object();
}

.card__body {
  margin-bottom: rem(5);
  padding: rem(20);
  padding-bottom: 0;
}

.card__title {
  margin-bottom: 0.5rem;
  font-weight: 800;
  font-family: $secondary-font;
  text-transform: uppercase;
}

.card__description {
  & > :last-child {
    margin-bottom: 0;
  }
}

.card__foot {
  padding: rem(20);

  @include mq-min(736px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include mq-range(400px, 567px) {
    @media (orientation: portrait) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.card__price {

  @include mq-max(735px) {
    margin-bottom: 1rem;
  }

  @include mq-max(667px) {
    display: flex;
    align-items: baseline;
  }

  @include mq-range(400px, 567px) {
    @media (orientation: portrait) {
      margin-bottom: 0;
    }
  }
}

.card__price-old {
  @include mq-max(666px) {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    order: 1;
    margin-left: 1rem;
  }

  @include mq-min(413px) {

  }
}

.card__actions {

}

.card__button {
  @include make-button();
  @include --button-small();
  @include --button-black();

  min-width: rem(120);
  width: 100%;
}

