.main-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: difference;

  @include mq-max(767px) {
    display: none;
  }
}

.main-footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: rem(50);

  & > * {
    pointer-events: auto;
  }
}

.main-footer__socials {
  color: $white-color;
}


.main-footer__nav {

}

.main-footer__nav-list {
  @include clear-list();

  font-size: rem(13);
  font-family: $secondary-font;
  text-transform: uppercase;

  li {

  }

  a {
    color: $white-color;
    text-decoration: none;
    border-bottom: none;
    letter-spacing: 0.1em;
  }
}
