.main-nav {

}

.main-nav__list {
  @include clear-list();

  li {
    margin-bottom: 0vh;
    font-weight: 800;
    font-size: rem(50);
    font-family: $secondary-font;
    color: $dark-color;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: currentColor;
    text-decoration: none;
    border-bottom: none;
    transition: color $duration;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  @include media-breakpoint-up(sm) {
    li {
      font-size: rem(54);
    }
  }

  @include media-breakpoint-up(md) {
    font-size: rem(64);
  }
}
