.page-section {
  padding-top: rem(40);
  padding-bottom: rem(40);
  background-color: #fff;
  overflow: hidden;

  &--gray {
    background-color: $gray-245;
  }
}

.page-section--inverse {
  padding-top: rem(90);
  padding-bottom: rem(90);
  background-color: $secondary-color;
  color: $white-color;
}

.page-section__header {
  margin-bottom: rem(35);
}

.page-section__label {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: rem(30);
  font-weight: 800;
  font-size: rem(13);
  font-family: $secondary-font;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  &::before {
    content: "";
    right: 100%;
    width: rem(80);
    height: 1px;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    margin-right: rem(20);
    background-color: currentColor;
    transition: transform $duration ($duration * 2);
  }

  @include mq-min(992px) {
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.page-section--triggered .page-section__label {
  &::before {
    transform: scaleX(1);
  }
}

.page-section__title {
  margin: 0;
  margin-bottom: rem(35);
  font-weight: 800;
  font-size: rem(32);
  line-height: 1.1;
  font-family: $secondary-font;

  @include mq-min(568px) {
    font-size: rem(36);
  }

  @include mq-min(768px) {
    font-size: rem(60);
    line-height: 1;
  }
}

.page-section__content {
  @include make-textual();

  display: flex;
  flex-direction: column;
}

.page-section__content--hold-2-3 {
  @include mq-min(768px) {
    & > * {
      max-width: calc((100% / 3) * 2);
    }
  }
}

.page-section__content--hold-center {
  align-items: center;
}

.page-section__content--hold-right {
  align-items: flex-end;
  text-align: right;
}
